[Desktop Entry]
Type=Application
Name=Affinity Photo
Comment=Image Editor
Exec=com.serif.AffinityPhoto2 %U
Icon=com.serif.AffinityPhoto2
MimeType=image/afphoto;application/x-affinity;
Categories=Graphics;
StartupNotify=true
StartupWMClass=photo.exe
